html{
    display: block;
    position: absolute;
    box-sizing: border-box;
}
header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
}
.exit {
    width: 100%;
    background-color: purple;
    text-align: center;
    color:white;
    text-decoration: underline;
}
.exit:visited{
    color: white;
}
.exit:hover{
    cursor: pointer;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    background-color: white;
    border-bottom: solid 1px black;
}

body{
    width: 100%;
    overflow-x: hidden;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.hero {
    width: 100%;
    display: flex;    
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.hero .title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero .title .first,
.hero .title .second{
    font-size: 5em; 
}
.hero .sub-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
.hero .cta, .start, #big-feat2-cta, #ending-cta-btn{
    background-color: #FFA500;
    border: solid;
    border-radius: 0.5rem;
    color: black;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    padding: 10px 30px;
}
.hero .cta {
    padding: 25px 100px;
    font-size: 1.4em;
}
#big-feat2-cta {
    padding: 15px 80px;
    font-size: 1.4rem;
}
.bigfeat2-container{
    display: flex;
    justify-content: center; 
}
#ending-cta-btn{
    padding: 30px 100px;
    background-color: white;
    font-size: 1.4rem;
}
.hero .cta:hover, .start:hover, #big-feat2-cta:hover, #ending-cta-btn:hover{
    cursor: pointer;
}
.hero .cta:active, .start:active, #big-feat2-cta:active, #ending-cta-btn:active{
    background-color: #BF7C00;
    border-color: #000000;
    transform: scale(.96);
}
#ending-cta-btn:active{
    background-color: grey;
}
.big-feat3-more, .big-feat4-more{
    text-decoration: underline;
    color: black;
    font-size: 1.4rem;
    user-select: none;
}
.big-feat3-more:hover, .big-feat4-more:hover{
    cursor: pointer;
}
.big-feat3-more:hover{
    cursor: pointer;
}
.hero .login{
    color: black;
    text-decoration: underline;
}
.hero .login:hover{
    cursor: pointer;
}
.nav-link-container{
    display: flex;
    height: 3rem;
    gap: 30px;
}

.nav-link{
    color: black;
    font-size: 1.4em;
    text-decoration: none;
    padding: 10px 30px;
}
.nav-link:hover{
    cursor: pointer;
    user-select: none;
}
.nav-link.start{
    text-align: center;
}
.feat-list{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
}
.feat {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feat .title {
    padding: 20px 0px; 
}
.feat .pic, .feat img{
    width: 100%;
}
.benefit-list{
    margin-bottom: 20rem;
    align-self: center;
    padding: 0 7rem;
    display: flex;
    gap: 3rem;
}
.benefit{
    flex:1;
}
.benefit img{
    width: 50%;
}
.benefit .title{
    font-size: 2.1rem;
    width: 100%;
    margin-bottom: 1rem;
}
.benefit .desc{
    width: 100%;
    font-size: 1.4rem;
}
section.hero{
    margin: 2rem 0 5rem 0;
}
section[class*='big-feat']{
    display: flex;
    gap: 6rem;
}
section[class*='big-feat'] .item{
    flex-basis: 100%;
}
section[class*='big-feat'] .left{
    display: flex;
    align-items: center;
    justify-content: end;
    
}
section[class*='big-feat'] .right{
    display: flex;
    align-items: center;
    justify-content: start;
}
section[class*='big-feat'] .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:70%;
    margin-left: 5rem;
    margin-bottom: 10rem;
    width: 26rem;
    box-sizing: border-box;

}
section[class*='big-feat'] img{
    width: 100%;
}
section[class*='big-feat'] .title{
    font-size: 4.5rem;
}
section[class*='big-feat'] .desc{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
section.cta {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: #eb8f34;
}
section.cta .title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.cta .title{
    font-size: 4rem;
    font-weight: 300;
}
section.cta .desc-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.cta .desc{
    font-size: 2rem;
    font-weight: lighter;
}
footer{
    background-color: white;
    height: 30vh;
}
footer .container{
    padding: 30px;
    display: flex; 
    flex-direction: row;
    gap: 30px;
}
footer .list {
    display: flex; 
    flex-direction: column;
    gap: 10px;
}
header .logo{
    width: 300px;
}
footer .logo{
    width: 200px;
}
footer .title{
    font-size: 1.6rem;
    font-weight: 500; 
}
footer a:hover{
    cursor: pointer; 
    user-select: none;
}
.logo img{
    width: 100%;
}
@media screen and (min-width: 1600px) {
    .nav-link {
        font-size: 2.4em;
    }
    .nav-link-container{
        height: 4.4rem;
    }
    header{
        width: 100%;
    }
    header .logo{
        width: 20rem;
    }
    .hero .title .first, .hero .title .second{
        font-size: 8em;
    }
    .hero .sub-title{
        font-size: 3rem;
    }
    .hero .cta {
        font-size: 3rem;
    }
    .hero a {
        font-size: 2.5rem;
    }
    .feat {
        width: 500px;
    }
    .feat-list{
        margin-bottom: 12rem;
    }
    .benefit {
        width: 20%;
        height: 20% ;
    }
    .benefit .title {
        font-size: 3.8rem;
    }
    .benefit .desc {
        font-size: 2.5rem;
    }
    section[class*='big-feat'] .container{
        width: 38rem;
    }
    section[class*='big-feat'] .title{
        font-size: 7rem;
    }
    section[class*='big-feat'] .desc{
        font-size: 3rem;
    }
    #big-feat2-cta {
        font-size: 2rem;
    }
    #big-feat3-more, #big-feat4-more{
        font-size: 3rem;
    }
    section.cta .title {
        font-size: 8rem;
    }
    section.cta .desc {
        font-size: 4rem;
    }
    #ending-cta-btn {
        font-size: 3rem;
    }
    footer .logo{
        width: 400px;
    }
    footer .title {
        font-size: 3rem;
    }
    footer .item {
        font-size: 2rem;
    }
}
